<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
    body{
        background-color:#88CFF7;
    }
    .card {
      background-color: black;
      color: white;
    }
  </style>
</head>
<body>

<div class="container">
    <div class="card mt-5 pt-5" style="background-color:#4D1635; color: white; padding: 10px;">
        <h2 style="padding-left:20px;">Academic Programs Offered</h2>
        <p style="color:black;">
            <ol>
            <li>Aerospace Engineering (4 Years, Bachelor of Technology)
                <li>Aerospace Engineering (5 Years, Bachelor and Master of Technology (Dual Degree))
                    <li>Agricultural and Food Engineering (4 Years, Bachelor of Technology)
                        <li>Agricultural and Food Engineering with M.Tech. in any of the listed specializations (5 Years, Bachelor and Master of Technology (Dual Degree))
                            <li>Applied Geology (4 Years, Bachelor of Science)
                                <li>Applied Geology (5 Years, Integrated Master of Science)
                                    <li>Applied Geology (5 Years, Integrated Master of Technology)
                                        <li>Applied Geophysics (5 Years, Integrated Master of Technology)
                                            <li>Applied Mathematics (5 Years, Integrated Master of Science)
                                                <li>Architecture (5 Years, Bachelor of Architecture)
                                                    <li>Artificial Intelligence (4 Years, Bachelor of Technology)
                                                        <li>Artificial Intelligence and Data Science (4 Years, Bachelor of Technology)
                                                            <li>Bio Engineering (4 Years, Bachelor of Technology)
                                                                <li>Bio Engineering (5 Years, Bachelor and Master of Technology (Dual Degree))
                                                                    <li>Bio Technology (4 Years, Bachelor of Technology)
                                                                        <li>Biochemical Engineering and Biotechnology (5 Years, Bachelor and Master of Technology (Dual Degree))
                                                                            <li>Biochemical Engineering with M.Tech. in Biochemical Engineering and Biotechnology (5 Years, Bachelor and Master of Technology (Dual Degree))
                                                                                <li>Bioengineering with M.Tech in Biomedical Technology (5 Years, Bachelor and Master of Technology (Dual Degree))
                                                                                    <li>Biological Engineering (5 Years, Bachelor and Master of Technology (Dual Degree))
                                                                                        <li>Biological Sciences (5 Years, Bachelor of Science and Master of Science (Dual Degree))
                                                                                            <li>Biological Sciences and Bioengineering (4 Years, Bachelor of Technology)
                                                                                                <li>Biomedical Engineering (4 Years, Bachelor of Technology)
                                                                                                    <li>Biosciences and Bioengineering (4 Years, Bachelor of Technology)
                                                                                                        <li>Biotechnology and Biochemical Engineering (4 Years, Bachelor of Technology)</li>
                                                                                                        <li>Biotechnology and Biochemical Engineering (5 Years, Bachelor and Master of Technology (Dual Degree))
                                                                                                            <li>Biotechnology and Bioinformatics (4 Years, Bachelor of Technology)
                                                                                                                <li>BS in Mathematics (4 Years, Bachelor of Science)
                                                                                                                    <li> Ceramic Engineering (4 Years, Bachelor of Technology)
                                                                                                                        <li>Ceramic Engineering (5 Years, Bachelor and Master of Technology (Dual Degree))
                                                                                                                            <li>Chemical and Biochemical Engineering (4 Years, Bachelor of Technology)
                                                                                                                                <li>Chemical Engineering (4 Years, Bachelor of Technology)
                                                                                                                                    <li>Chemical Engineering (5 Years, Bachelor and Master of Technology (Dual Degree))
                                                                                                                                        <li>Chemical Science and Technology (4 Years, Bachelor of Technology)
                                                                                                                                            <li>Chemical Sciences (5 Years, Bachelor of Science and Master of Science (Dual Degree))
                                                                                                                                                <li>Chemistry (4 Years, Bachelor of Science)
                                                                                                                                                    <li>Chemistry (5 Years, Integrated Master of Science)
                                                                                                                                                        <li>Chemistry with Specialization (4 Years, Bachelor of Science)
                                                                                                                                                            <li>Civil and Infrastructure Engineering (4 Years, Bachelor of Technology)
                                                                                                                                                                <li>Civil Engineering (4 Years, Bachelor of Technology)
                                                                                                                                                                    <li>Civil Engineering (5 Years, Bachelor and Master of Technology (Dual Degree))
                                                                                                                                                                        <li>Civil Engineering and M. Tech. in Structural Engineering (5 Years, Bachelor and Master of Technology (Dual Degree))
                                                                                                                                                                            <li>Civil Engineering and M.Tech in Transportation Engineering (5 Years, Bachelor and Master of Technology (Dual Degree))
                                                                                                                                                                                <li>Civil Engineering and M.Tech. in Environmental Engineering (5 Years, Bachelor and Master of Technology (Dual Degree))
                                                                                                                                                                                    <li>Civil Engineering with any of the listed specialization (5 Years, Bachelor and Master of Technology (Dual Degree))
                                                                                                                                                                                        <li>Civil Engineering with M.Tech. in Structural Engineering (5 Years, Bachelor and Master of Technology (Dual Degree))
                                                                                                                                                                                            <li>Computational Engineering (4 Years, Bachelor of Technology)
                                                                                                                                                                                                <li>Computer Science and Engineering (4 Years, Bachelor of Technology)
                                                                                                                                                                                                    <li>Computer Science and Engineering (5 Years, Bachelor and Master of Technology (Dual Degree))
                                                                                                                                                                                                        <li>   Data Science and Artificial Intelligence (4 Years, Bachelor of Technology)
            <li>   Data Science and Engineering (4 Years, Bachelor of Technology)
            <li>   Earth Sciences (4 Years, Bachelor of Science)
            <li>   Economics (4 Years, Bachelor of Science)
            <li>   Economics (5 Years, Bachelor of Science and Master of Science (Dual Degree))
            <li>   Economics (5 Years, Integrated Master of Science)
            <li>  Electrical and Electronics Engineering (4 Years, Bachelor of Technology)
            <li>   Electrical Engineering (4 Years, Bachelor of Technology)
            <li>   Electrical Engineering (5 Years, Bachelor and Master of Technology (Dual Degree))
            <li>   Electrical Engineering (IC Design and Technology) (4 Years, Bachelor of Technology)
            <li>   Electrical Engineering (Power and Automation) (4 Years, Bachelor of Technology)
            <li>   Electrical Engineering and M.Tech Power Electronics and Drives (5 Years, Bachelor and Master of Technology (Dual Degree))
            <li>   Electrical Engineering with M.Tech. in any of the listed specializations (5 Years, Bachelor and Master of Technology (Dual Degree))
            <li>   Electrical Engineering with M.Tech. in Communications and Signal Processing (5 Years, Bachelor and Master of Technology (Dual Degree))
            <li>   Electrical Engineering with M.Tech. in Microelectronics (5 Years, Bachelor and Master of Technology (Dual Degree))
            <li>  Electrical Engineering with M.Tech. in Power Electronics (5 Years, Bachelor and Master of Technology (Dual Degree))
            <li>   Electronics and Communication Engineering (4 Years, Bachelor of Technology)
            <li>   Electronics and Electrical Communication Engineering (4 Years, Bachelor of Technology)
            <li>   Electronics and Electrical Communication Engineering with M.Tech. in any of the listed specializations (5 Years, Bachelor and Master of Technology (Dual Degree))
            <li>   Electronics and Electrical Engineering (4 Years, Bachelor of Technology)
            <li>   Electronics and Instrumentation Engineering (4 Years, Bachelor of Technology)
            <li>   Electronics Engineering (4 Years, Bachelor of Technology)
            <li>  Energy Engineering (4 Years, Bachelor of Technology)
            <li>  Energy Engineering with M.Tech. in Energy Systems Engineering (5 Years, Bachelor and Master of Technology (Dual Degree))
            <li>   Engineering and Computational Mechanics (4 Years, Bachelor of Technology)
            <li>   Engineering Design (5 Years, Bachelor and Master of Technology (Dual Degree))
            <li>   Engineering Physics (4 Years, Bachelor of Technology)
            <li>    Engineering Physics (5 Years, Bachelor and Master of Technology (Dual Degree))
            <li>   Engineering Physics (5 Years, Integrated Master of Technology)
            <li>  Engineering Physics and M.Tech. with specialization in Nano Science (5 Years, Bachelor and Master of Technology (Dual Degree))
            <li>  Engineering Science (4 Years, Bachelor of Technology)
            <li>   Environmental Engineering (4 Years, Bachelor of Technology)
            <li> Environmental Science and Engineering (5 Years, Bachelor and Master of Technology (Dual Degree))
            <li>  Exploration Geophysics (4 Years, Bachelor of Science)
            <li> Exploration Geophysics (5 Years, Integrated Master of Science)
            <li>  Geological Technology (5 Years, Integrated Master of Technology)
            <li>  Geophysical Technology (5 Years, Integrated Master of Technology)
            <li>  Industrial and Systems Engineering (4 Years, Bachelor of Technology)
            <li>  Industrial and Systems Engineering with M.Tech. in Industrial and Systems Engineering and Management (5 Years, Bachelor and Master of Technology (Dual Degree))
            <li>  Industrial Chemistry (4 Years, Bachelor of Technology)
            <li>  Industrial Chemistry (5 Years, Bachelor and Master of Technology (Dual Degree))
            <li>   Industrial Chemistry (5 Years, Integrated Master of Technology)
            <li>   Instrumentation Engineering (4 Years, Bachelor of Technology)
            <li>  Interdisciplinary Sciences (5 Years, Bachelor of Science and Master of Science (Dual Degree))
            <li>  Manufacturing Science and Engineering (4 Years, Bachelor of Technology)
            <li>  Manufacturing Science and Engineering with M.Tech. in Industrial and Systems Engineering and Management (5 Years, Bachelor and Master of Technology (Dual Degree))
            <li>  Materials Engineering (4 Years, Bachelor of Technology)
            <li> Materials Science and Engineering (4 Years, Bachelor of Technology)
            <li> Materials Science and Metallurgical Engineering (4 Years, Bachelor of Technology)
            <li>  Materials Science and Technology (5 Years, Bachelor and Master of Technology (Dual Degree))
            <li>  Mathematics & Computing (5 Years, Bachelor of Science and Master of Science (Dual Degree))
            <li>  Mathematics and Computing (4 Years, Bachelor of Science)
            <li>  Mathematics and Computing (4 Years, Bachelor of Technology)
            <li> Mathematics and Computing (5 Years, Bachelor and Master of Technology (Dual Degree))
            <li> Mathematics and Computing (5 Years, Integrated Master of Science)
            <li> Mathematics and Computing (5 Years, Integrated Master of Technology)
            <li> Mathematics and Scientific Computing (4 Years, Bachelor of Science)
            <li>Mechanical Engineering (4 Years, Bachelor of Technology)
            <li>  Mechanical Engineering (5 Years, Bachelor and Master of Technology (Dual Degree))
            <li>  Mechanical Engineering and M. Tech. in Mechanical System Design (5 Years, Bachelor and Master of Technology (Dual Degree))
            <li>  Mechanical Engineering and M. Tech. in Thermal Science & Engineering (5 Years, Bachelor and Master of Technology (Dual Degree))
            <li> Mechanical Engineering and M.Tech. in Computer Integrated Manufacturing (5 Years, Bachelor and Master of Technology (Dual Degree))
            <li> Mechanical Engineering with M.Tech. in any of the listed specializations (5 Years, Bachelor and Master of Technology (Dual Degree))
            <li>  Mechanical Engineering with M.Tech. in Manufacturing Engineering (5 Years, Bachelor and Master of Technology (Dual Degree))
            <li> Mechatronics Engineering (4 Years, Bachelor of Technology)
            <li> Metallurgical and Materials Engineering (4 Years, Bachelor of Technology)
            <li> Metallurgical and Materials Engineering (5 Years, Bachelor and Master of Technology (Dual Degree))
            <li> Metallurgical and Materials Engineering and M.Tech. in Materials Science and Engineering (5 Years, Bachelor and Master of Technology (Dual Degree))
            <li> Metallurgical Engineering & Materials Science (5 Years, Bachelor and Master of Technology (Dual Degree))
            <li>  Metallurgical Engineering (4 Years, Bachelor of Technology)
            <li>Metallurgical Engineering (5 Years, Bachelor and Master of Technology (Dual Degree))
            <li> Metallurgical Engineering and Materials Science (4 Years, Bachelor of Technology)
            <li> Metallurgical Engineering and Materials Science with M.Tech. in Ceramics and Composites (5 Years, Bachelor and Master of Technology (Dual Degree))
            <li> Metallurgical Engineering and Materials Science with M.Tech. in Metallurgical Process Engineering (5 Years, Bachelor and Master of Technology (Dual Degree))
            <li> Mineral and Metallurgical Engineering (4 Years, Bachelor of Technology)
            <li>Mineral Engineering (4 Years, Bachelor of Technology)
            <li> Mining Engineering (4 Years, Bachelor of Technology)
            <li>Mining Engineering (5 Years, Bachelor and Master of Technology (Dual Degree))
            <li>Mining Machinery Engineering (4 Years, Bachelor of Technology)
            <li>Mining Safety Engineering (5 Years, Bachelor and Master of Technology (Dual Degree))
            <li>Naval Architecture and Ocean Engineering (4 Years, Bachelor of Technology)
            <li>Naval Architecture and Ocean Engineering (5 Years, Bachelor and Master of Technology (Dual Degree))
            <li>Ocean Engineering and Naval Architecture (4 Years, Bachelor of Technology)
            <li>Ocean Engineering and Naval Architecture (5 Years, Bachelor and Master of Technology (Dual Degree))
            <li>Petroleum Engineering (4 Years, Bachelor of Technology)
            <li>Pharmaceutical Engineering & Technology (4 Years, Bachelor of Technology)
            <li>Pharmaceutical Engineering & Technology (5 Years, Bachelor and Master of Technology (Dual Degree))
            <li>Pharmaceutics (4 Years, Bachelor of Pharmaceutics)
            <li>Pharmaceutics (5 Years, Bachelor and Master of Pharmaceutics(Dual Degree))
            <li>Physics (4 Years, Bachelor of Science)
                <li>Physics (5 Years, Bachelor of Science and Master of Science (Dual Degree))
            <li>Physics (5 Years, Integrated Master of Science)
            <li>Physics with Specialization (4 Years, Bachelor of Science)
            <li>Polymer Science and Engineering (4 Years, Bachelor of Technology)
            <li>Production and Industrial Engineering (4 Years, Bachelor of Technology)
            <li>Quality Engineering Design and Manufacturing (5 Years, Bachelor and Master of Technology (Dual Degree))
            <li>Statistics and Data Science (4 Years, Bachelor of Science)
            <li>Textile Technology (4 Years, Bachelor of Technology)
            </ol>
            </p>
            
        <!-- Add more insights here -->
      </div>
</div>

</body>
</html>
